@import '../../../app/globals.scss';

.form {
  max-width: 400px;
  margin: 200px auto 0 auto;
  padding: 20px;
  background-color: $accent-light-gray;
  border-radius: 8px;
  box-shadow: 0 2px 10px $shadow-color;
}

.form__group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 5px;
  font-size: 16px;
}

.form__input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid $accent-light-gray;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form__input:focus {
  border-color: $secondary-dark-blue;
  outline: none;
}

.form__inputWrapper {
  position: relative;
  display: flex;
  align-items: center;

  .form__input {
    padding-right: 40px;
    width: 100%;
  }

  .form__icon, .form__icon * {
    position: absolute;
    right: 9px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: $secondary-dark-blue;
    user-select: none;
  }
}

.form__buttonsWrapper {
  display: flex;
  justify-content: space-between;

  & > button:only-child {
    margin: 0 auto;
  }
}

.error {
  margin: 5px 0 0 0;
  color: $error-red;
  font-size: 12px;
}

.success {
  color: $success-green;
  font-size: 12px;
}

.form__progressBar {
  width: 100%;
  height: 8px;
  background-color: $accent-light-gray;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
}

.form__progressBarText {
  color: $primary-blue;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: 2px 0 10px 0;
}

.form__progressBarFill {
  height: 100%;
  background-color: $primary-blue;
  transition: width 0.3s ease;
  border-radius: 4px;
}