@import '../../../app/globals.scss';


.sidebar {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  z-index: 5;
  
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__notesList {
    overflow-y: auto;
    flex-grow: 1;
    padding-right: 5px;
    
  }
  
  &__note {
    margin: 4px 0;
    width: 150px;
    height: 30px;
    background-color: lightgray;

    &:hover {
      background-color: darkgray;
    }

    &:active {
      background-color: gray;
    }
  }
}

.active {
  background-color: #e0e0e0 !important;
  border-left: 3px solid #2196f3;
}